
/vendor/
/reports/
/logs/*
!/logs/README.md

# Composer
vendor/*

# Files
composer.json
composer.lock

# Prints
public/pedidoscompra*
public/barcodes*
public/reports*
public/uploads*
public/etiquetasArmazenagem*
public/pedidoscompra
public/barcodes
public/reports
public/uploads
public/etiquetasArmazenagem
.env